# Dance group lookup table
# This table allows parts of a dance to be scheduled separately
# It combines the dance_id from the master lookup table with a group_id
# from this table. dg_id is the concatenation of dance_id and group_id
# Normally, group_id will be empty

name: dance_groups

columns:
  - dance_id
  - group_id
  - dg_id
  - dg_name
  - current_rd
  - current_rd_name
  - default_rd
  - default_rd_name
  - alternate_rd
  - alternate_rd_name

protected_rows:
  - 1
  
protected_columns:
  - dance_id
  - dg_name
  - current_rd_name
  - default_rd_name
  - alternate_rd_name

formulas:
  dg_id: 'dance_id&group_id'
  dg_name: 'VLOOKUP(dance_id,IMPORTRANGE("1IcZgdSDKp-tt1uOB6NFZOnpBpEx-SfVxJD4Mp1NAqcw","dances!A:B"),2,FALSE)&group_id'
  current_rd_name: 'VLOOKUP(current_rd,rehearsal_directors!A:D,4,FALSE)'
  default_rd_name: 'VLOOKUP(default_rd,rehearsal_directors!A:D,4,FALSE)'
  alternate_rd_name: 'VLOOKUP(alternate_rd,rehearsal_directors!A:D,4,FALSE)'
  
auto_id_config:
  column: dance_id
  prefix: 'd_'
  count: 40
